.course-page {
  flex-grow: 1;
  background-color: #f4f4f9;
  min-height: 100vh;
  
}

.search-header {
  background-color:white;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;

  align-items: center;
}

.search-bar {
  flex: 1;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  background-color: gainsboro;
 
}

.dropdown {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  background-color: gainsboro;
  margin-bottom: 1%;
}

.course-title {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 7fr));
  gap: 1.5rem;
  padding: 0 3rem 3rem;
}

.course-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
  height: 400px;
}

.course-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover .course-img {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.course-card:hover .course-img {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.course-name{
  display: flex;
  justify-content: space-between;
  font: caption;
  font: bold;

}
.progress-bar {
  display: flex;
  gap: 2px;
  margin: 0.5rem 0;
  justify-content: center;
}

.progress-segment {
  flex: 1;
  height: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
}

.progress-segment.filled {
  background-color: #6a0dad;
  border-color: #6a0dad;
}