.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #eff4fc;
  overflow-y:auto;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
background-color: white;
  border-radius: 8px;
 
  width: 400px;
 margin: auto;
  height: 350px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.login-header h2 {
  font-size: 1.2rem;
  font-weight: 400; 
  margin: 0;
  color: #333;
}

.login-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.welcome-text {
  color: #8000FF;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

form label {
  align-self: flex-start;
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #eff4fc;
  font-size: 1rem;
  text-align: left;
}
input:focus {
  border: 2px solid #8000FF;
  outline: none;

}
button {
  width: 100%;
  padding: 1rem;
  background-color: #8000FF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  
}

button:hover {
  background-color: #5a0099;
}