
.mc-container {
  display: flex;
  flex-grow: 1;
  background-color: #f5f6fa;
  font-family: 'Segoe UI', sans-serif;
}


.mc-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.mc-content h2 {
  font-size: 1.8rem;
  color: #6a0dad;
  margin-bottom: 2rem;
  animation: fadeInTitle 0.8s ease-out forwards;
  opacity: 0;
}

@keyframes fadeInTitle {
  to {
    opacity: 1;
  }
}


.mc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
  height: 300px;
}


.mc-card {
  background-color: #fff;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInCard 0.6s ease forwards;
  opacity: 0;
  overflow: hidden;
  position: relative;
  min-height: 220px;
  cursor: pointer;
}


.mc-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}


.mc-card h3 {
  position: absolute;
  bottom: 12px;
  left: 7px;
  margin: 0;
  padding: 6px 10px;
 
  color: #121111;
  font-size: 1.1rem;
 

}

.mc-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.mc-card:hover .mc-image {
  transform: scale(1.05);
}

@keyframes fadeInCard {
  to {
    opacity: 1;
  }
}